In [5]:
import pandas as pd

In [6]:
df = pd.read_excel("C:/Users/jahan/Downloads/Customer Call List.xlsx")

In [7]:
#Dropping duplicates and useless column
df = df.drop_duplicates()
df = df.drop(columns="Not_Useful_Column")

In [8]:
#Cleaning Last Name
df["Last_Name"] = df["Last_Name"].astype(str).str.strip("./_ ")

In [9]:
#Cleaning Phone Number
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace(r'[^a-zA-Z0-9]', '', regex=True)

In [10]:
def format_phone(number):
    if len(number) == 10:
       return f"{number[0:10]}"
    return ""

df["Phone_Number"] = df["Phone_Number"].apply(format_phone)

In [11]:
#Standardize Yes/No
mapping = {'Yes': 'Yes', 'Y': 'Yes', 'No': 'No', 'N': 'No'}
df["Paying Customer"] = df["Paying Customer"].replace(mapping)
df["Do_Not_Contact"] = df["Do_Not_Contact"].replace(mapping)
df["Do_Not_Contact"] = df["Do_Not_Contact"].fillna("No")

In [12]:
#Cleanup and Filtering
df = df.replace(["N/a", "NaN"], "")
df = df.fillna("")
df = df[df["Do_Not_Contact"] != "Yes"]
df = df[df["Phone_Number"] != ""]

In [13]:
#Reset Index
df = df.reset_index(drop=True)

In [14]:
print(df)

    CustomerID First_Name   Last_Name Phone_Number  \
0         1001      Frodo     Baggins   1235455421
1         1003     Walter       White   7066950392
2         1005        Jon        Snow   8766783469
3         1008   Sherlock      Holmes   8766783469
4         1010      Peter      Parker   1235455421
5         1012      Harry      Potter   7066950392
6         1013        Don      Draper   1235432345
7         1014     Leslie       Knope   8766783469
8         1015       Toby  Flenderson   3047622467
9         1016        Ron     Weasley   1235455421
10        1017   Michael        Scott   1236439775
11        1018      Clark        Kent   7066950392
12        1020     Anakin   Skywalker   8766783469

                           Address Paying Customer Do_Not_Contact
0            123 Shire Lane, Shire             Yes             No
1               298 Drugs Driveway              No             No
2                 123 Dragons Road             Yes             No
3                    98 Clue Drive              No             No
4       25th Main Street, New York             Yes             No
5             2394 Hogwarts Avenue             Yes             No
6                 2039 Main Street             Yes             No
7                 343 City Parkway             Yes             No
8                    214 HR Avenue              No             No
9             2395 Hogwarts Avenue              No             No
10  121 Paper Avenue, Pennsylvania             Yes             No
11                 3498 Super Lane             Yes             No
12     910 Tatooine Road, Tatooine             Yes             No